@font-face {
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 400;
  src: local('Jaldi'), local('Jaldi-Regular'), url('/fonts/Jaldi-Regular.ttf');
}
@font-face {
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 700;
  src: local('Jaldi Bold'), local('Jaldi-Bold'), url('/fonts/Jaldi-Bold.ttf');
}
@font-face {
  font-family: 'Walter Turncoat';
  font-style: normal;
  font-weight: 400;
  src: local('Walter Turncoat'), local('WalterTurncoat'), url('/fonts/WalterTurncoat.ttf');
}