#{$cvs} {

  &-headline {
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;

    & h1 {
      font-size: $font-big;
      font-family: $fontfam-slant;
      margin-top: 0;
    }
  }

  &-main {

    & button {
      font-family: $fontfam-slant;
      width: 100%;
      margin: 5px auto;
    }

    &_imageBlock {

    }

    &_image {

    }

    &_imageMeta {

    }

    &_imageCaption {
      font-size: $font-small;
    }

    &_imageCredit {
      font-size: $font-mini;
      hyphens: auto;
      text-align: right;
      text-transform: uppercase;
    }

    &_textBlock {
      margin-bottom: 40px;
    }
  }
}