#{$cvs} {

  &-headline {
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;

    & h1 {
      color: $color-neutral-dark;
      font-size: $font-big;
      font-family: $fontfam-slant-default;
      margin-top: 0;
    }
  }

  &-imageBlock {

    &_imageMeta {
      margin-top: 5px;
    }

    &_imageCaption {
      font-size: $font-small;
      padding: 0;
      //transition: color 0.5s, text-shadow 0.5s;

      &-blurred {
        color: transparent;
        text-shadow: 0 0 10px rgba(0,0,0,0.5);
      }
    }

    &_imageCredit {
      color: $color-neutral-shade;
      font-size: $font-micro;
      hyphens: auto;
      padding: 0;
      text-align: right;
      text-transform: uppercase;
      //transition: color 0.5s, text-shadow 0.5s;

      &-blurred {
        color: transparent;
        text-shadow: 0 0 10px rgba(0,0,0,0.5);
      }
    }
  }

  &-textBlock {

    button {
      background: $color-neutral-medium;
      border: 2px solid $color-neutral-dark;
      border-radius: 1px;
      font-family: $fontfam-slant-default;
      margin: 5px auto;
      padding: 5px 0;
      transition: box-shadow 0.5s, filter 0.5s, opacity 0.5s;
      width: 100%;

      &:hover {
        background: $color-neutral-light;
      }

      &.negative {
        background: $color-negative;

        &:hover {
          background: $color-negative-hl;
        }
      }

      &.positive {
        background: $color-positive;

        &:hover {
          background: $color-positive-hl;
        }
      }
    }

    h2 {
      margin-top: 6px;
    }

    .negative {
      color: $color-negative-dark;
    }

    .positive {
      color: $color-positive-dark;
    }

    &#{$cvs}-centeredTextBlock {
      text-align: center;
    }

    &_bigNumber {
      font-size: $font-highlight;
    }
  }
}

@media (max-width: 767px) {

  #{$cvs} {

    &-headline {

      & h1 {
        font-size: $font-highlight;
      }
    }

    &-imageBlock {

      &_imageMeta {
        line-height: 1em;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
      }

      &_imageCaption {
        font-size: $font-mini;
      }

      &_imageCredit {

        &:before {
          content: ' ';
        }
      }
    }
  }
}

html.wf-active #{$cvs} {

  &-headline h1, &-textBlock button {
    font-family: $fontfam-slant;
  }
}