// Components
$cvs: ".cvs";   // Quiz canvas
$app: ".app";   // Global settings
$hdr: ".hdr";   // Header
$nvg: ".nvg";   // Navigation

// Colors
$color-positive:       #8d8;
$color-positive-hl:    #9e9;
$color-negative:       #d88;
$color-negative-hl:    #e99;
$color-black:          #000;
$color-neutral-dark:   #333;
$color-neutral-shade:  #aaa;
$color-neutral-medium: #ddd;
$color-neutral-light:  #eaeaea;
$color-white:          #fff;

// Font sizes
$font-huge:      56px;
$font-big:       48px;
$font-highlight: 32px;
$font-normal:    20px;
$font-small:     16px;
$font-mini:      14px;
$font-micro:     12px;

// Font families
$fontfam-slant:   'Walter Turncoat', cursive;
$fontfam-sans:    Jaldi, Arial, sans-serif;
$fontfam-serif:   Times, serif;


#{$app} {

  font-family: $fontfam-sans;

  &-background {
    background: #eaeaea;
  }

  &-container {
    background: $color-white;
    box-shadow: 0 0 20px -4px $color-neutral-shade;
    border: 3px solid $color-neutral-dark;
    font-size: $font-normal;
    margin-top: 20px;
    padding: 35px;
  }

  &-footer {
    font-size: $font-mini;
    margin-bottom: 100px;
    margin-top: 5px;
    text-align: center;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {

  #{$app} {

    &-container {
      width: 970px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  #{$app} {

    &-container {
      font-size: $font-small;
    }
  }
}

@media (max-width: 767px) {

  #{$app} {

    &-container {
      margin-top: 0;
      border: none;
      box-shadow: none;
    }
  }
}

@import 'navigation';
@import 'quizcanvas';